<div class="form-container">
<h1>Login to your account</h1>
<%= form_tag(sessions_path, {class: 'login-form'}) do %>
<%= label_tag :username %>
<%= text_field_tag :username, nil, placeholder: "Username" %> <br>
<%= label_tag :password %>
<%= password_field_tag :password , nil, placeholder: "Password"%><br>
<%= submit_tag "Login" %>
<%end%>
</div>