<!DOCTYPE html>
<html>
  <head>
    <title>Appointment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
  <% if logged_in? %>
  <%= button_to "Logout", sessions_path, method: :delete %>
<%end%>
</html>
